@use '../abstracts' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $color-neutral-50;
    color: $color-neutral-900;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: inherit;
}
